In [1]:
import os

os.makedirs(os.path.join('..', 'data', 'raw'), exist_ok=True)
data_file = os.path.join('..', 'data', 'raw', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')  # Column names
    f.write('NA, Pave, 127500\n')  # Each row represents a data example
    f.write('2, NA, 106000\n')
    f.write('4, NA, 178100\n')
    f.write('NA, NA, 140000\n')

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA  106000
2       4.0     NA  178100
3       NaN     NA  140000

In [3]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA

In [7]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs  # 这里与书上不同，原因是表格中是NA，而非NaN，所以pandas并不会把它认为是空值，而认为是一个类别，同时我们也理解到，pd会固定创建一个nan类别

   NumRooms   Alley_ NA   Alley_ Pave   Alley_nan
0       3.0           0             1           0
1       2.0           1             0           0
2       4.0           1             0           0
3       3.0           1             0           0

In [8]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 0., 1., 0.],
         [2., 1., 0., 0.],
         [4., 1., 0., 0.],
         [3., 1., 0., 0.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))